*{
    box-sizing: border-box;
  }
  

  body{
    background-color: white;
    text-align: center;
    position:absolute;
  }
  header{
    /* text-align: center; */
    padding: 20px;
    background-color: #fff;
  }
   header h3{
    text-align: left;
    /* font-size: 20px; */
   
    font-family: 'Yellowtail', cursive;
    font-size: 15px;
    
  } 
  header nav section :nth-child(1) {
      text-align: left;
      font-size: 15px;
  }


  

  header h4{
    /* text-align: left; */
    /* font-size: 20px; */
    
    font-family: 'VT323', monospace; 
    color: grey;
     font-size: 12px;
    /* margin-left: 2px; */
    padding-top: 30px;
    /* float: left;  */
 
  

  }

  header nav ul li{
    display: inline-block;
    margin: 2px;
    /* position: absolute; */
    float: left;

  
  }

   /* header nav ul li{
    float: right;
  }  */

 
nav{
    
        background-color: white;
        color: black;
        padding: 5px;
      
      
}


header nav  :first-child{

    float: left;
}

header ul {

    float: right;
    margin-top: 2.5em;
    margin-left: 10px;
  
  }
  
   header ul li {
    display: inline-block;
  
  } 
 




  main{

    display: inline-block;
    padding-left: 5px;
  }

 main h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    margin-top: 1em;
    display: inline block;

;
  }
  
 main h2 {
    font-family: 'VT323', monospace; 
    font-size: 13px;
    color: grey;
    display: inline-block;
    
  }

main form:nth-child(2)
{
    width: 60px; 
    height: 40px;
    text-align: center;

}

p {
    
    margin-top: 80px;
    text-align: center;

  }

main section :last-child
{

    background-image:url("../images/list-bg.png"); 
   

}
.col1{
    width: 50%;
    float: left;
    
}
.col2{
    width: 50%;
    float: right;
    padding-right: 80px;
}

footer img:first-child{
    display: inline-block;
  }







  